attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
certifi==2021.10.8
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1636526469270/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1635832939767/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pytest==6.2.5
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
